:root{
    --body-color:#151521;
    --normal-text-color:#f8ffff;
    --p-text-color : #6D6D80;
    --blue-color : #009ef7;
    --green-color : #50cd89;
    --red-color: #f1416c;
    --gray-400-color :#78829D;
    --bg-color : #f9fafb; 
}


body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
}


#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #636f8f;
    flex-wrap: wrap;
    margin-left: 150PX;
    margin-right: 180PX;
    margin-top: 10PX;
    
}

#userNeeds{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pageTitle div {
    display: flex;
    flex-direction: column;
}