#side-bar{
    background-color: var(--sec-color);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.side-bar-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 30px;
}

.side-bar-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0px 32px;
}

.items-container{
    font-size: calc(1.325rem + 0.5vw) !important;
    color: var(--icon-side-bar);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--select-table-btn);
    width: 58px;
    height: 58px;
    border-radius: 22px;
    cursor: pointer;
    padding: 6px 0px 6px ;
    margin-bottom: 13px;
}

.side-bar-blue{
    color: #4DBBF9;
    background-color: var(--blue-color);
}

.side-bar-footer{
    padding: 32px 0 32px;
}
