@font-face {
  font-family: IRANSansXV;
  src: url(../font/IRANSansXV.woff);
}
/* color style */
:root {
  --body-color: #151521;
  --normal-text-color: #f8ffff;
  --p-text-color: #6d6d80;
  --blue-color: #009ef7;
  --green-color: #50cd89;
  --red-color: #f1416c;
  --gray-400-color: #78829d;
  --sec-color: #1e1e2d;
  --gray-300-color:#2b2b40;
  --select-table-btn: #1B1B29;
  --select-table-text: #92929F;
  --select-table-border-color: #1b1b29;
  --bg-danger: #3a2434;
  --bg-succes: #1c3238;
  --copy-color-icon: #565674;
}
* {
  font-family: IRANSansXV;
}
/* body style */
body {
  background-color: var(--body-color);
  margin: 0;
  padding: 0;
}
/* section style */
section {
  margin: auto;
  max-width: 1289px;
  min-width: 38px;
  display: flex;
  flex-wrap: wrap;
}
/* alment style */
p {
  color: var(--p-text-color);
  font-size: 15px;
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
button {
  background-color: var(--blue-color);
  outline: none;
  border: none;
  border-radius: 12px;
  color: var(--normal-text-color);
}
button:hover {
  cursor: pointer;
}
