/* global css [start] */
* {
  direction: rtl;
}
/* global css [END] */
/* sec barname argae [START] */
section:first-of-type {
  background-color: var(--sec-color);
  flex-direction: column;
  gap: 26px;
}
section:first-of-type > h1 {
  font-weight: 600;
  font-size: 19.5px;
}
/* part shoma pevand arga and part nahve agra [start] */
section:first-of-type > div:nth-of-type(1) {
  display: flex;
  gap: 15%;
}
section:first-of-type > div:nth-of-type(1) > div:first-of-type {
  width: 37%;
}
section:first-of-type > div:nth-of-type(1) > div:last-of-type {
  width: 50%;
}
section:first-of-type > div:nth-of-type(1) > div > p {
  font-weight: 500;
  font-size: 14px;
  width: 450px;
}
section:first-of-type > div:nth-of-type(1) > div > h4 {
  font-weight: 600;
  font-size: 16px;
}
#sec-barname-ajra-part-nahve-astafade button,
#sec-barname-ajra-part-shoma-pevanad-arga div button {
  background-color: var(--gray-300-color);
  color: var(--p-text-color);
  font-size: 14px;
  font-weight: 800;
  padding: 10px 20px;
}
#sec-barname-ajra-part-nahve-astafade button:hover,
#sec-barname-ajra-part-shoma-pevanad-arga div button:hover {
  color: var(--blue-color);
  background-color: #0c97e896;
}
#sec-barname-ajra-part-shoma-pevanad-arga div input {
  background-color: var(--body-color);
  outline: none;
  border: none;
  color: var(--p-text-color);
  font-size: 14px;
  font-weight: 800;
  width: 487px;
  font-size: 14px;
  height: 33px;
  font-weight: 500;
  border-radius: 14px;
  margin-left: 10px;
  padding: 7px 10px;
}
/* part shoma pevand arga and part nahve agra [end] */
/* part cash [start] */
section:first-of-type > div:nth-of-type(2) {
  display: flex;
  gap: 26px;
}
section:first-of-type > div:nth-of-type(2) > div {
  width: 23%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px dashed var(--gray-300-color);
  border-radius: 10px;
  gap: 10px;
  padding: 15px;
}
section:first-of-type > div:nth-of-type(2) > div > h3 {
  color: var(--normal-text-color);
  font-size: 40.5px;
  font-weight: 600;
}
section:first-of-type > div:nth-of-type(2) > div > span {
  font-size: 16px;
  font-weight: 500;
}
section:first-of-type > div:nth-of-type(2) > div:nth-of-type(1) > span {
  color: #7239ea;
}
section:first-of-type > div:nth-of-type(2) > div:nth-of-type(2) > span {
  color: #50cd89;
}
section:first-of-type > div:nth-of-type(2) > div:nth-of-type(3) > span {
  color: #f1416c;
}
section:first-of-type > div:nth-of-type(2) > div:nth-of-type(4) > span {
  color: #009ef7;
}
/* part cash [end] */
/* part pol kashidan [start] */
section:first-of-type > div:nth-of-type(3) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #212e48;
  border: 1px dashed var(--blue-color);
  border-radius: 20px;
  padding: 20px;
  height: 64px;
}
section:first-of-type > div:nth-of-type(3) > a {
  color: var(--normal-text-color);
  background-color: var(--blue-color);
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 10px;
}
section:first-of-type > div:nth-of-type(3) > div {
  display: flex;
  gap: 15px;
  align-items: center;
}
section:first-of-type > div:nth-of-type(3) > div img {
  width: 35px;
  height: 40px;
}
section:first-of-type > div:nth-of-type(3) > div > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section:first-of-type > div:nth-of-type(3) > div > div p {
  margin: 0;
}
section:first-of-type > div:nth-of-type(3) > div > div h5 {
  font-size: 18px;
}
/* part pol kashidan [end] */
/* sec barname argae [END] */
/* sec carbran arga shode [START] */
section:last-of-type {
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin-top: 30px;
  background-color: var(--sec-color);
  padding: 0 20px;
}
section:last-of-type > div:first-of-type {
  display: flex;
  background-color: var(--sec-color);
  padding: 10px;
  justify-content: space-between;
  height: 50px;
  border-bottom: 1px solid var(--gray-300-color);
  align-items: center;
}
section:last-of-type > div:first-of-type > div {
  display: flex;
  gap: 20px;
}
section:last-of-type > div:first-of-type > div * {
  color: var(--p-text-color);
}
section:last-of-type > div:first-of-type > div li {
  padding: 23px 0;
}
section:last-of-type > div:first-of-type > div li:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--blue-color);
  padding: 23px 0;
}
.active-header-itm-sec {
  border-bottom: 1px solid var(--blue-color);
}
.active-header-itm-sec a {
  color: var(--normal-text-color) !important;
}
section:last-of-type > div:nth-of-type(2) {
  display: flex;
  padding: 20px;
  gap: 190px;
  border-bottom: 1px solid var(--gray-300-color);
  align-items: center;
}
.body-sec-arga-dade-shode {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--gray-300-color);
}
.body-sec-arga-dade-shode > p:nth-of-type(1) {
  width: 280px;
  margin-right: 10px;
}
.body-sec-arga-dade-shode > p:nth-of-type(2) {
  width: 220px;
}
.body-sec-arga-dade-shode > p:nth-of-type(3) {
  width: 229px;
}
.body-sec-arga-dade-shode > p:nth-of-type(4) {
  margin-left: 198px;
}
.body-sec-arga-dade-shode > span {
  color: var(--green-color);
}
/* sec carbran arga shode [END] */
