@font-face {
    font-family: IRANSansXV;
    src: url(../font/IRANSansXV.woff);
}
/* color style */
:root{
    --body-color:#151521;
    --normal-text-color:#f8ffff;
    --p-text-color : #6D6D80;
    --blue-color : #009ef7;
    --green-color : #50cd89;
    --red-color: #f1416c;
    --gray-400-color :#78829D; 
    --sec-color: #1e1e2d;
}
*{
    font-family: IRANSansXV;
}
/* body style */
body {
    background-color: var(--body-color);
    margin: 0;
    padding: 0;
}
/* section style */
section{
    margin: auto ;
    max-width: 1289px;
    min-width: 38px;
    display: flex;
    flex-wrap: wrap;
}
/* alment style */
p{
    color: var(--p-text-color);
}