body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.container-slide{
    width: 1285px;
    margin-right: 130px;
}

.container-security-page{
    padding: 0px 0px 30px;
}

#text-table-one2{
    border: none;
    outline: none;
    background: none;
    color: var(--p-text-color);
}

.copy-btn:hover{
    color: var(--blue-color);
    background-color: var(--normal-text-color);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 4px;
}

.top-sec{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.swiper-slide{
    background-color: var(--sec-color);
}

.swiper-slide h4{
    margin-top: 10px;
    color: var(--normal-text-color);
}

.swiper-row-three{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
}

.blue-component{
    color: var(--blue-color);
    background-color: #212e48;
    border-radius: 7px;
    padding: 4px 10px;
}

.grey-component{
    color: var(--gray-400-color);
    background-color: #323248;
    padding: 4px 10px;
    border-radius: 7px;
}

.section-swiper{
    display: grid;
    grid-template-columns: auto 1fr ;
    gap: 20px;
    height: 100%;
}

.security-chart{
    height: fit-content;
    background-color: var(--sec-color);
    color: var(--p-text-color);
    border-radius: 8px;
    margin-top: 30px;
    color: var(--normal-text-color);

}

.situation-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.situation-user-number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32%;
    border: 1px dashed var(--gray-300-color);
    border-radius: 15px;
    padding: 14px 0px 7px;
}

.activity-chart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 0px 11px;
}

.btn-activity-left{
    display: flex;
    width: 130px;
    justify-content: space-between;
    align-items: center;
    padding: 3.25px 8px;
    border: 1px solid var(--gray-300-color);
    border-radius: 15px;
    color: var(--p-text-color);
    height: 50px;
}


.btn-activity-left-item:hover {
    display: flex;
    background-color: var(--gray-300-color);
    cursor: pointer;
    border-radius: 15px;
    padding: 7px 6px;
}

.active-items{
    display: flex;
    background-color: var(--gray-300-color);
    cursor: pointer;
    border-radius: 15px;
    padding: 7px 6px;
}

.nav-link-after{
    height: 1px;
    background-color: var(--blue-color) !important;
}

.nav-line-tabs{
    color: var(--gray-300-color) !important;
    border-bottom: 1px solid grey;
    padding: 16px 29px 7px !important;
}

#myTabContent{
    padding: 0px 29px 20px;
}