body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.container-slide{
    width: 1320px;
}

#table-chart{
    background-color: red;
}

#text-table-one2{
    border: none;
    outline: none;
    background: none;
    color: var(--p-text-color);
}

.copy-btn:hover{
    color: var(--blue-color);
    background-color: var(--normal-text-color);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 4px;
}

.top-sec{
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-part, .right-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.swiper-slide{
    background-color: var(--sec-color);
}