@font-face {
  font-family: IRANSansXV;
  src: url(../font/IRANSansXV.woff);
}
/* color style */
:root {
  --body-color: #151521;
  --normal-text-color: #f8ffff;
  --p-text-color: #6d6d80;
  --blue-color: #009ef7;
  --green-color: #50cd89;
  --red-color: #f1416c;
  --gray-400-color: #78829d;
  --sec-color: #1e1e2d;
  --gray-300-color:#2b2b40;
}
*{
  font-family: IRANSansXV;
}
/* body style */
body {
  background-color: var(--body-color);
  margin: 0;
  padding: 0;
}

p {
  color: var(--p-text-color);
  font-size: 15px;
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: var(--normal-text-color);
}
button {
  outline: none;
  border: none;
  border-radius: 12px;
  color: var(--normal-text-color);
}
button:hover {
  cursor: pointer;
}
li,ul{
  list-style: none;
}
a{
  text-decoration: none;
}